
@import "tailwindcss";

@theme {
  --animate-scroll: scroll 15s linear infinite;

  @keyframes scroll {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}

.clip-path-ribbon {
  clip-path: polygon(0 0, 90% 0, 100% 50%, 90% 100%, 0 100%);
}
